<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welkom bij Fit Out Padel Destelbergen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="index-page">

    <h1 class="index-title">
        Welkom bij <br>Fit Out Padel Destelbergen
    </h1>

    <div class="index-links">
        <a href="{{ url_for('login') }}" class="index-btn">Bestaande gebruiker</a>
        <a href="{{ url_for('register') }}" class="index-btn">Nieuwe gebruiker</a>
    </div>

    <footer class="index-footer">
        © 2025 Fit Out Padel Destelbergen
    </footer>

</body>
</html>